<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.webServer>
	    <rewrite>
	        <rules>
	            <rule name="Root Hit Redirect" stopProcessing="true">
	                <match url="^(?![a-zA-Z]).*$" />
	                <action type="Redirect" redirectType="Permanent" url="index.html" />
	            </rule>
	        </rules>
	    </rewrite>
	</system.webServer>
</configuration>