<?xml version="1.0"?>
<configuration>
	<components>
		<!-- Adds ExecuteAddShoeDefinitionPipeline task into the Initialize pipeline -->
		<partial-component id="Initialize">
			<parameters>
				<tasks>
					<array>
						<item insert="last">${Pragmasoft.QuickpayV10.Initialize.QuickpayV10InitializationPipelineTask}</item>
					</array>
				</tasks>
			</parameters>
		</partial-component>

		<!-- This is the configuration of the task which executes the AddShoeDefintion pipeline -->
		<component id="Pragmasoft.QuickpayV10.Initialize.QuickpayV10InitializationPipelineTask"
				service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.Initialization.InitializeArgs, UCommerce.Pipelines]], UCommerce"
				type="Pragmasoft.QuickpayV10.Extensions.Pipelines.Initialize.QuickpayV10InitializationPipelineTask, Pragmasoft.QuickpayV10.Extensions">
		</component>
	</components>
</configuration>
