<configuration>
  <components>
    <component id="QuickpayV10"
        service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
        type="Pragmasoft.QuickpayV10.Extensions.Services.QuickpayV10PaymentMethodService, Pragmasoft.QuickpayV10.Extensions" />
    <component id="QuickpayV10PageBuilder"
				service="Pragmasoft.QuickpayV10.Extensions.Services.QuickpayV10PageBuilder, Pragmasoft.QuickpayV10.Extensions"
				type="Pragmasoft.QuickpayV10.Extensions.Services.QuickpayV10PageBuilder, Pragmasoft.QuickpayV10.Extensions"/>
    <component id="QuickpayV10Repository"
				service="Pragmasoft.QuickpayV10.Extensions.Services.QuickpayV10Repository, Pragmasoft.QuickpayV10.Extensions"
				type="Pragmasoft.QuickpayV10.Extensions.Services.QuickpayV10Repository, Pragmasoft.QuickpayV10.Extensions"/>
  </components>
</configuration>
