<configuration>
  <components>
    <component id="QuickpayV10.TestcardNumberProvider"
        service="Pragmasoft.QuickpayV10.Extensions.Services.Interfaces.IQuickPayV10TestcardNumbersProvider, Pragmasoft.QuickpayV10.Extensions"
        type="Pragmasoft.QuickpayV10.Extensions.Services.QuickPayV10TestcardNumbersProvider, Pragmasoft.QuickpayV10.Extensions" />
    
    <component id="QuickpayV10.CallbackAnalyser"
        service="Pragmasoft.QuickpayV10.Extensions.Services.Interfaces.IQuickPayV10CallbackAnalyser, Pragmasoft.QuickpayV10.Extensions"
        type="Pragmasoft.QuickpayV10.Extensions.Services.QuickPayV10CallbackAnalyser, Pragmasoft.QuickpayV10.Extensions" />

    <component id="QuickpayV10.Logger"
     service="Pragmasoft.QuickpayV10.Extensions.Services.Interfaces.IQuickPayV10Logger, Pragmasoft.QuickpayV10.Extensions"
     type="Pragmasoft.QuickpayV10.Extensions.Services.QuickPayV10Logger, Pragmasoft.QuickpayV10.Extensions" />

  </components>
</configuration>
